<div class="animated fadeIn">
  <div class="row text-center">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success card-borda">
        <div class="card-body pb-0">
          <div class="titulo">CADASTRO DE ALUNO</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <a href="#/alunos/cadastrar">
            <button
              type="submit" 
              class="btn-cadastro pull-center"
            >
            Novo Cadastro
          </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info card-borda">
        <div class="card-body pb-0">
          <div class="titulo">LISTA DE ALUNO</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <a href="#/alunos/listar">
            <button
                type="submit" 
                class="btn-buscar pull-center">
              Buscar Aluno
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger card-borda">
        <div class="card-body pb-0">
          <div class="titulo">NOVO LOGIN</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <a href="#/perfil/conta">
            <button
                type="submit" 
                class="btn-login pull-center">
              Cadastrar
            </button>
          </a>
        </div>
      </div>
    </div>
  </div> 

</div>
